<div class='header'>
 <div class="header-left">
  <h2>{{ APP_NAME }}</h2>
  <h4>{{ APP_INFO }}</h4>
 </div>
 <div class="header-right">
  <div class='descr'>Details</div>
  <div class="right-content">
   <table class='header-details'>
	 <tr> <td>Status</td><td>Online</td> </tr>
	</table>
  </div>
 </div>
</div>
