<div class="colorcodes">
  <div class="item"><span class="box whitelist"></span>Whitelist</div>
  <div class="item"><span class="box virus"></span>Virus</div>
  <div class="item"><span class="box subject"></span>Rewrite Subject</div>
  <div class="item"><span class="box add_header"></span>Add Header</div>
  <div class="item"><span class="box blacklist"></span>Blacklist</div>
  <div class="item"><span class="box discard"></span>Discard</div>
  <div class="item"><span class="box reject"></span>Reject</div>
  <div class="item"><span class="box greylist"></span>Greylist</div>
  <div class="item"><span class="box clean"></span>Clean</div>
</div>
