<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Rqwatch - Rspamd Quarantine Watch">
	<meta name="keywords" content="Rqwatch, Rspamd, Quarantine, Monitoring, Spam, Mail">
	<meta name="author" content="Giannis Kapetanakis">
{#	<link rel="shortcut icon" href="favicon.png"> #}
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href='{{ get_route('homepage') }}css/style.css'>
{% if refresh_rate %}
	<meta http-equiv='refresh' content='{{ refresh_rate }}'>
{% endif %}
	<title>{{ APP_NAME }}</title>
</head>

<body>
