<div class="mapform-container">

<div class="mapform-row">

{% if mapselectform %}
{% set selectlabel = 'Basic/Combined' %}
<div class="mapform-wrapper">
{% include 'partials/map_select.html.twig' %}
</div>
{% endif %}

{% if is_admin %}

{% if mapselectcustomform %}
{# Include again, now overriding the variable for the include only #}
{% set selectlabel = 'Custom' %}
{% set mapselectform = mapselectcustomform %}
<div class="mapform-wrapper">
{% include 'partials/map_select.html.twig' %}
</div>
{% endif %}

{% endif %}

</div>

</div>
