{% extends 'base.html.twig' %}
{% import 'macros/paginator.macro.twig' as ui %}

{% block content %}

<div class='pagtop'>
{{ ui.paginator(aliases, WEB_BASE) }}
</div>

{% include 'partials/aliases.html.twig' %}

<div class='pagbottom'>
{{ ui.paginator(aliases, WEB_BASE) }}
</div>

{% endblock %}
