{% extends 'base.html.twig' %}
{% import 'macros/paginator.macro.twig' as ui %}

{% block content %}

{% include 'partials/colorcodes.html.twig' %}

<div class='pagtop'>
{{ ui.paginator(logs, WEB_BASE) }}
</div>

{% include 'partials/mails.html.twig' %}

<div class='pagbottom'>
{{ ui.paginator(logs, WEB_BASE) }}
</div>

{% endblock %}
