{% extends 'base.html.twig' %}

{% block content %}
<div class="center-container">

{% if mapselectform or mapselectform2%}
 {% include 'partials/map_select.base.twig' %}
{% endif %}

{% include 'partials/map.html.twig' %}

</div>
{% endblock %}
