{% extends 'base.html.twig' %}

{% block content %}
<div class="center-container">

{% if mapselectform or mapselectform2 or mapselectform3%}
 {% include 'partials/map_select.base.twig' %}
{% endif %}

</div>
{% endblock %}
