{% extends 'base.html.twig' %}
{% import 'macros/paginator.macro.twig' as ui %}

{% block content %}
<div class="center-container">

{% if mapselectform or mapselectcustomform %}
 {% include 'partials/map_select.base.twig' %}
{% endif %}

<div class='pagtop'>
{{ ui.paginator(map_entries, WEB_BASE) }}
</div>

{% if model == 'MapCombined' %}
 {% include 'partials/map_combined.html.twig' %}
{% elseif model == 'MapGeneric' %}
 {% include 'partials/map_generic.html.twig' %}
{% elseif model == 'MapCustom' %}
 {% include 'partials/map_custom.html.twig' %}
{% endif %}

<div class='pagbottom'>
{{ ui.paginator(map_entries, WEB_BASE) }}
</div>

</div>
{% endblock %}
