{% extends 'base.html.twig' %}
{% import 'macros/paginator.macro.twig' as ui %}

{% block content %}
<div class="center-container">

{% if mapselectform or mapselectcustomform %}
 {% include 'partials/map_select.base.twig' %}
{% endif %}

<div class='pagtop'>
{{ ui.paginator(map_entries, WEB_BASE) }}
</div>

{% if is_admin %}
{% include 'partials/maps_custom_config.html.twig' %}
{% endif %}

<div class='pagbottom'>
{{ ui.paginator(map_entries, WEB_BASE) }}
</div>

</div>
{% endblock %}
