{% include 'partials/head.html.twig' %}
{% include 'partials/app.html.twig' %}
{% include 'partials/flash.html.twig' %}

<main>
{% block content %}{% endblock %}
</main>

{% include 'partials/footer.html.twig' %}
</body>
</html>
